<svg width="540" viewBox="0 0 660 490" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="descId">
    <title id="titleId">Error</title>
    <style> text { font-family: "PingFang SC",Helvetica Neue,Microsoft YaHei,sans-serif; fill: rgba(50,50,50,.8) } </style>
    <rect x="0.5" y="0.5" rx="4.5" height="99%" stroke="#e4e2e2" fill="#fff" width="659" stroke-opacity="1"/>
    <text x="260" y="240">访问的UID不存在</text>
</svg>