<svg width="540" viewBox="0 0 660 660" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="descId">
    <title id="titleId"><%- name %></title><desc id="descId">BiliBili Statistic</desc>
    <style>
        text { fill: #8b849e }
        .oct-icon{display:block;fill:#8b849e;}
        .repo-color{animation:fadeInAnimation 0.8s ease-in-out forwards;}
        .header{font:600 18px 'Segoe UI',Ubuntu,Sans-Serif;fill:#2f80ed;animation:fadeInAnimation 0.8s ease-in-out forwards;}
        .stat{font:600 14px 'Segoe UI',Ubuntu,"Helvetica Neue",Sans-Serif;}
        .stagger{opacity:0;animation:fadeInAnimation 0.3s ease-in-out forwards;}.bold{font-weight:700}
        .icon{fill:#4c71f2;display:none;}
        .lang-name{font:400 11px "Segoe UI",Ubuntu,Sans-Serif}
        .stagger{opacity:0;animation:fadeInAnimation 0.3s ease-in-out forwards;}
        #rect-mask rect{animation:fadeInAnimation 1s ease-in-out forwards;}
        @keyframes fadeInAnimation{from{opacity:0;}to{opacity:1;}}
    </style>
    <rect x="0.5" y="0.5" rx="4.5" height="99%" stroke="#e4e2e2" width="659" stroke-opacity="1"/>
    <g data-testid="main-card-info" transform="translate(0, 55)"><svg x="0" y="0">
            <g transform="translate(0, 0)">
                <g class="stagger" style="animation-delay: 450ms" transform="translate(25, 0)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" style="border-radius: 50%; overflow: hidden" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <image x="0" y="0" height="64" width="64" xlink:href="<%- avatar %>"></image>
                    </svg>
                    <text class="stat  bold" x="192.01" y="12.5" data-testid="stars"><%- name %></text>
                </g>
            </g>
        </svg>
    </g>
</svg>